.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: var(--color-bg-black);
  color: #fff;
  font-weight: 600;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  z-index: 2;
}

.brand-name {
  text-decoration: none;
  color: var(--color-gold);
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 3rem;
  font-family: "Aboreto", cursive;
  text-align: center;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

/*removes default disc bullet for li tags and applies margin to left & right side.*/
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

/* increases the surface area of the anchor tag to span more than just the anchor text*/
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: var(--color-white);
  padding: 0rem 2rem;
}

/*removes default border on button element*/
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-bg-gold);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* positions the icon to the right and center aligns it vertically*/
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: var(--color-bg-variant);
}

/********************RESPONSIVE (MEDIUM DEVICE)*********************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0.5rem 0rem;
    background-color: var(--color-bg-black);
    color: #fff;
    font-weight: 600;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    z-index: 2;
  }

  .brand-name {
    text-decoration: none;
    color: var(--color-gold);
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
    font-family: "Aboreto", cursive;
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    color: var(--color-white);
    padding: 0rem 1rem;
  }
}

/********************RESPONSIVE*********************/
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .brand-name {
    text-decoration: none;
    color: var(--color-gold);
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
    font-family: "Aboreto", cursive;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu-hidden ul {
    color: var(--color-black);
  }
  .navigation-menu-hidden a {
    color: var(--color-black);
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    /* navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)*/
    position: absolute;
    top: 60px;
    left: 0;
    /* stacks the li tags vertically */
    flex-direction: column;
    /* makes menu span full height (stay at "auto" for responsive all window) and width*/
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-black);
    /* allows you to move the navigation in front of the image*/
    z-index: 2;
  }
  .navigation-menu li {
    /* centers link text and strips off margin*/
    text-align: center;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
  }
  .navigation-menu li a {
    color: var(--color-gold);
    /* increases the surface area of the anchor tag to span the full width of the menu*/
    width: 100%;
    padding: 0.4rem 0;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
