.container_Products {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.column_ImgProducts img {
  width: 100%;
  height: auto;
}

.column_Products {
  background-color: var(--color-bg-white);
}

.title_Products {
  color: var(--color-black);
  text-align: center;
  font-size: 3.2em;
  padding-top: 40px;
}

.subtitle_Products {
  color: var(--color-gold);
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-weight: 600;
  font-family: "Ibarra Real Nova", serif;
  margin-top: 60px;
  padding-top: 60px;
}
/*****************MEDIA QUERIES (MEDIUM DEVICE)***************/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .container_Products {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .column_ImgProducts img {
    width: 100%;
    height: auto;
  }

  .title_Products {
    color: var(--color-black);
    text-align: center;
    font-size: 2.5em;
    padding-top: 5px;
  }

  .subtitle_Products {
    color: var(--color-gold);
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
    font-family: "Ibarra Real Nova", serif;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {
  .container_Products {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .column_ImgProducts img {
    width: 100%;
    height: auto;
  }

  .title_Products {
    color: var(--color-black);
    text-align: center;
    font-size: 2em;
    padding-top: 5px;
  }

  .subtitle_Products {
    color: var(--color-gold);
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    font-family: "Ibarra Real Nova", serif;
  }
}
