.container_ShowCaseCard {
  padding: 10px 16px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

table {
  width: 95%;
  /* Add shadows to create the "table" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}

th {
  padding: 16px 0 9px 50px;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: justify;
  border-bottom: solid 1px var(--color-gold);
  font-family: "Ibarra Real Nova", serif;
  color: var(--color-gold);
}

td {
  padding: 6px 0 6px 50px;
  font-weight: 600;
  font-family: "Ibarra Real Nova", serif;
}

td:hover {
  /* On mouse-over, add a deeper shadow */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/**************RESPONSIVE MEDIA***********/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  table {
    width: 95%;
    /* Add shadows to create the "table" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
  }
  
  th {
    padding: 16px 0 9px 50px;
    font-weight: 600;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: justify;
    border-bottom: solid 1px var(--color-gold);
    font-family: "Ibarra Real Nova", serif;
  }
  
  td {
    padding: 6px 0 6px 50px;
    font-weight: 600;
    font-family: "Ibarra Real Nova", serif;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {
  table {
    width: 95%;
    /* Add shadows to create the "table" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
  }
  
  th {
    padding: 16px 0 9px 45px;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: justify;
    border-bottom: solid 1px var(--color-gold);
    font-family: "Ibarra Real Nova", serif;
  }
  
  td {
    padding: 4px 0 5px 45px;
    font-weight: 600;
    font-family: "Ibarra Real Nova", serif;
    font-size: 1em;
  }
}
