.container__Library {
  width: 100%;
  height: auto;
  background-color: rgb(240, 195, 170);
}

.row__Library {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.row__Library img {
  width: 360px;
  height: 364px;
}

.wrapper__img {
  position: relative;
  overflow: hidden;
}

.wrapper__img img {
  width: 360px;
  height: 360px;
}

.change__img1 {
  position: absolute;
  z-index: 1;
  animation: rotate 10s infinite;
}

.change__img2 {
  opacity: 1;
  transition: rotate 10s infinite;
}

@keyframes rotate {
  from {opacity: 0;}
  to {opacity: 1;}
}

/**********************RESPONSIVE (MEDIUM DEVICE)*********************/
@media screen and (min-width: 600px) and (max-width: 1024px){
  .row__Library {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .row__Library img {
    width: 100%;
    height: 365px;
  }
  .wrapper__img img {
    width: 100%;
    height: 360px;
  }
}

/**********************RESPONSIVE (SMALL DEVICE)*********************/
@media screen and (max-width: 600px) {
  .row__Library {
    display: grid;
    grid-template-columns: auto;
  }
  .row__Library img {
    width: 100%;
    height: 360px;
  }
}

